html{
    scroll-behavior: smooth;
}
body{
    background-color: #272727;
    color: #fff;
}
.navbar{
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.301);
}
.navbar a{
    color: #fff;
    transition: .2s;
}
.navbar a:hover{
    color: aquamarine;
}
.navbar a :visited:active{
    color: #fff;
}

.navbar .logo:hover{
    color: #000;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}
.navbar .dropdown-menu{
    background-color: #272727;
}
.navbar-toggler-icon{
    filter: invert(100%);
}
.navbar .dropdown-menu{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.301);
}

.navbar .dropdown-item:hover{
    background-color: #000;
}
.navbar i{
    color: #fff;
}

header{
    height: 600px;
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position-y:center ;
}
h1{
    padding: 250px 0;
    font-size: 10em;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
h2{
    color: #fff;
    font-size: 4em;
    font-variant: small-caps;
    padding-top: 30px;
}
h3{
    font-size: 3em;
    font-variant: small-caps;
    padding-top: 30px;
}
.card{
    padding: 0;
    border: none;
    margin: auto;
    margin-bottom: 50px;
    color: #fff;
    min-width: 57vh;
    box-shadow: 5px 5px 5px #000;
    background-color: #424242;
    transition: .2s;
    padding-bottom: 10vh;
    cursor: pointer;
    height: 80vh;
}
.card:hover{
    box-shadow: 20px 20px 20px #000;
}

.img{
    height: 35vh;
}
iframe{
    width: 100%;
    height: 700px;
    border-radius: 10px;
    margin-bottom: 100px;
}
footer{
    height: 100px;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 -10px 20px #000;
    color: #000;
}
p{
    text-align: justify;
    font-size: 2em;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}


.out{
    display: block;
    margin: auto;
    width: 50%;
    height: 10vh;
    font-size: 3em;
    font-weight: bold;
    border: 5px solid #000;
    border-radius: 25px;
    transition: .4s;
}
.out:hover{
    color: #fff;
    background-color: #000;
}


@media only screen and (max-width: 1000px){
    header{
        height: 250px;
    }
    .card{
        height: 90vh;
    }
    .img{
        height: fit-content;
    }
    h1{
        font-size: 5em;
        padding: 100px 0;
    }
    h2{
        font-size: 3em;
        padding-top: 15px;
    }
    h3{
        font-size: 2em;
        padding-top: 15px;
    }
    p{
        font-size: 1em;
        width: 100%;
    }

}
